<!DOCTYPE html>
<html>

<link rel="stylesheet" type="text/css" href="/1.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/icon.min.css">


<head>
  <title>PawPets</title>
 <link rel="icon" type="image/png" href="/cat.png">
 <script
			  src="https://code.jquery.com/jquery-3.4.1.js"
			  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
			  crossorigin="anonymous"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
<script type="text/javascript">
	$(window).on('load', function() {
		// Animate loader off screen
		jQuery(".se-pre-con").fadeOut(30000);
	});
</script>
<style>
    div {
        margin-top: 150px;
    }
    h5{
        margin-left: 43%;
    }
</style>
</head>
<body  onload="setTimeout(function(){window.location = 'login';}, 2000)">
    <div class="se-pre-con">
        <img style="width: 100px; margin-left: 45%;" src="https://www.underconsideration.com/brandnew/archives/paws_logo_paw_a.png" alt="">
    <h5 class="display-4">PawPets</h5>
    </div>